<div class="text-center header">
  <h1>Campus</h1>
  <hr>
  <p>We streamline the time, cost, and job hunting process for you. Getting you a programming career in the most efficient and reliable way possible.</p>
  <button type="button" class="button green">Learn More</button>
</div>

<div class="text-center online">
  <h1 class="blue">Online</h1>
  <hr>
  <p>Become a developer at your own pace. Get unblocked with help from our staff to get back to learning.</p>
  <img src="images/laptop.png">
  <button type="button" class="button pink">Learn More</button>
</div>

<div class="text-center hire-a-developer">
  <h1>Hire a Developer</h1>
  <hr>
  <p>Hire with Launch Academy and meet emerging Software Developers at an upcoming Career Day!</p>
  <button type="button" class="button green">Join Career Day</button>
</div>

<div class="hiring-partners small-12 columns">
  <div class="text-center">
    <h1 class="blue">Hiring Partners</h1>
    <hr>
    <p>We work with the very best. We are proud of our partners, who work with us to deliver the best training.</p>
  </div>
  <div class="partners">
    <div class="small-12 medium-3 columns">
      <div class="callout secondary">
        <img src="images/hubspot.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="callout secondary">
        <img src="images/fidelity.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="callout secondary">
        <img src="images/npr.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="callout secondary">
        <img src="images/datto.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
      </div>
    </div>
  </div>
</div>


<div class="contact small-12 columns">
  <div class="text-center">
    <h1 class="blue">Contact Us</h1>
    <hr>
    <p>If you have questions or just wnat to say "Hi", drop us a message!<br>We'd love to hear from you.</p>
  </div>
  <form class="simple_form fancy-form">
    <div class="small-6 columns">
      <input class="input string required" placeholder="First Name" type="text">
    </div>
    <div class="small-6 columns">
      <input class="input string required" placeholder="Last Name" type="text">
    </div>
    <div class="small-6 columns">
      <input class="input string required" placeholder="Email" type="text">
    </div>
    <div class="small-6 columns">
      <input class="input string required" placeholder="Phone" type="text">
    </div>
    <div class="small-12 columns">
      <input class="input string required" placeholder="What's on your mind?" type="text">
    </div>
    <button type="button" class="button green">Submit</button>
  </form>
</div>
